
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.container {
  max-width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 1rem 10rem; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  background-color: #000;
}
.container h2{
  color:#fff;
  font-size: 2rem;
}
.container p{
  color:#fff;
  font-size: 1.2rem;
}

.scrollContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 40px;
  max-width: 850px;
  
}

.card {
  min-width: 250px;
  max-width: 400px;
  margin: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  padding: .1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(247, 243, 243, 0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}

.card h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.card p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowContainer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}
.selectedTrainer img{
    width: 100%;
    height: 100%;
}
.scrollbtn{
  font-size: 2.4rem;
  padding:0 0.5rem;
  margin: 1rem;
  color:red;
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
}


@media (min-width: 1000px) {
  .scrollContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .scrollContainer {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 1.2rem;
  }
  .scrollContainer {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    max-width: 100%;
    padding: 1.2rem;
  }
  .scrollContainer {
    padding-bottom: 40px;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
   
  }
  .card{
    max-width: 200px;
  }
  .scrollbtn{
    display: none;
  }
}
  
  
